<% if (locals.msg) {%> <% switch(msg) { case "success": %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Assessment Completed</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "delete": %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Assessment has been successfully deleted</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "already":%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>This Assessment has already been Completed</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "wrongpass": %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Incorrect Assessment Password</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "editpass": %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>The Assessment's original password is incorrect or new passwords do not match</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "zeroquestions": %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Assessments must have at least one question</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "uploaded": %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>CSV data successfully uploaded</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "notfound":%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Survey Not Found</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "noaccess":%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>You do not have the proper credentials to access this page</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; case "h2f":%>
<% if (User_Result.h2f_flag === "PASSED") { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>You have successfully completed the Holistic Health Assessment</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
<% } else { %>
  <% for (const category of User_Result.h2f_flag.split('-')) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= category_dict[category][0] %></strong>
      <% if (category_dict[category][1]) { %> <!-- mailto email -->
        Please email <a href="mailto:<%= category_dict[category][1] %>"><%= category_dict[category][1] %></a> about your issue
      <% } %>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-l  abel="Close"
      ></button>
    </div>
  <% } %>
<% } %>
<% break; case "cpa":%>
<% if (User_Result.cpa_flag === "PASSED") { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>You have successfully completed the Cognitive Performance Assessment</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
<% } else { %>
  <% for(let key in User_Result.cpa_results) { %>
    <% if(User_Result.cpa_results.hasOwnProperty(key)) { %>
        <% if(User_Result.cpa_results[key] < 25) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%= category_dict[key][0] %></strong>
            <% if (category_dict[key][1]) { %> <!-- mailto email -->
              Please email <a href="mailto:<%= category_dict[key][1] %>"><%= category_dict[key][1] %></a> about your issue
            <% } %>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-l  abel="Close"
            ></button>
          </div>
        <% } %>
    <% } %>
<% } %>
<% } %>
<% break; case "fms":%>
<% if (User_Result.fms_flag === "PASSED") { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>You have successfully completed the Movement Screening Assessment</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
<% } else { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><%= category_dict[User_Result.fms_flag][0] %></strong>
    <% if (category_dict[User_Result.fms_flag][1]) { %> <!-- mailto email -->
      Please email <a href="mailto:<%= category_dict[User_Result.fms_flag][1] %>"><%= category_dict[User_Result.fms_flag][1] %></a> about your issue
    <% } %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-l  abel="Close"
    ></button>
  </div>
<% } %>
<% break; default: %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong></strong> can not be added/deleted/found due to the errors below.
  <p class="mb-0"></p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% break; } %> <% } %>
