<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/ARNG.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <title>Unit Summary</title>
    <style>
      .form-group {
        margin:10px;
      }

      .content
      {
        max-width: 1000px;
        margin: auto;
      }

    </style>
</head>
<body>
<%- include('header') %>
<div class="content">
    <h2>Unit: <%= unit %> Summary</h2>
    <p>
        This page should contain information about the unit, including the unit's H2F assessment results.
    </p>
    <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered" style="width:100%">

            <div class="container mt-4">
                <table id="datatable" class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Rank</th>
                            <th scope="col">Email</th>
                            <th scope="col">Knowledge Check</th>
                            <th scope="col">Physical (%)</th>
                            <th scope="col">Nutrition (%)</th>
                            <th scope="col">Mental (%)</th>
                            <th scope="col">Spiritual (%)</th>
                            <th scope="col">Sleep (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% total_results.forEach(result => { %>
                            <tr>
                                <td><%= result.firstname %></td>
                                <td><%= result.lastname %></td>
                                <td><%= result.rank %></td>
                                <td><%= result.email %></td>
                                <td><%= result.h2f_score %></td>
                                <td><%= result.physical %></td>
                                <td><%= result.nutrition %></td>
                                <td><%= result.mental %></td>
                                <td><%= result.spiritual %></td>
                                <td><%= result.sleep %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </table>
    </div>
</div>

<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#datatable').DataTable();
    } ); 
</script>

</body>

</html>